# build artifacts

.eggs/
.mypy_cache
allennlp.egg-info/
build/
dist/


# dev tools

.envrc
.python-version
.idea


# jupyter notebooks

.ipynb_checkpoints


# miscellaneous

.cache/
allennlp/tools/EVALB/evalb.dSYM/
doc/_build/
*.swp


# python

*.pyc
*.pyo
__pycache__


# testing and continuous integration

.coverage
.pytest_cache/

# -> macos
# General
.DS_Store
.AppleDouble
.LSOverride

# Icon must end with two \r
Icon


# Thumbnails
._*

# Files that might appear in the root of a volume
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns
.com.apple.timemachine.donotpresent

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk
# <- macos

# custom
data
evaluation
output
pretrain
slurm_out

